from pathlib import Path
import pytest
{%- if AddSQLAlchemy %}
import sqlalchemy
from sqlalchemy import create_engine, text
{%- endif %}
import os

import {{ package_name }}

@pytest.fixture(scope="session")
def shared_tmp_path(tmp_path_factory) -> Path:
    # one dir for the whole pytest run (all files)
    return tmp_path_factory.mktemp("download_cache")

@pytest.fixture(scope="session")
def persistent_tmp_path(request) -> Path:
    return Path(request.config.cache.makedir("persistent_download_cache"))


dbtype_list = [
{% if AddSQLite %}"sqlite",{% endif %}
{% if AddPostgres %}"postgres",{% endif %}
{% if AddDuckDB %}"duckdb",{% endif %}
]


POSTGRES_USER=os.environ.get('PYTEST_POSTGRES_USER','postgres')

@pytest.fixture(params=dbtype_list)
def dbtype(request):
    return request.param

{%- if AddSQLAlchemy %}
@pytest.fixture(params=dbtype_list,scope="session")
def testengine(request,shared_tmp_path):
    if request.param in ['sqlite','duckdb']:
        db_path = shared_tmp_path / f"_test_{{package_name}}.{request.param}.db"
        url = f"{request.param}:///{db_path.as_posix()}"
    elif request.param =="postgres":
        url= f"postgresql+psycopg://{POSTGRES_USER}@localhost:5432/_test_{{package_name}}_{POSTGRES_USER}"
    else:
        url= f"{request.param}:///_test_{{package_name}}.{request.param}"
    return create_engine(url)
{%- endif %}


