"""Tests for the {{ package_name }} database connections."""

import os
import pytest
{%- if AddSQLAlchemy %}
import sqlalchemy
from sqlalchemy import create_engine, text
{%- endif %}
import {{ package_name }}

#### Parameters
dbtype_list = [
{% if AddSQLite %}"sqlite",{% endif %}
{% if AddPostgres %}"postgres",{% endif %}
{% if AddDuckDB %}"duckdb",{% endif %}
]


POSTGRES_USER=os.environ.get('PYTEST_POSTGRES_USER','postgres')

@pytest.fixture(params=dbtype_list)
def dbtype(request):
    return request.param


{%- if AddSQLAlchemy %}
@pytest.fixture(params=dbtype_list)
def testengine(request):
    if request.param in ['sqlite','duckdb']:
        url= f"{request.param}:///_test_{{package_name}}.{request.param}.db"
    elif request.param =='postgres':
        url= f"postgresql+psycopg2://{POSTGRES_USER}@localhost:5432/_test_{{package_name}}"
    else:
        url= f"{request.param}:///_test_{{package_name}}.{request.param}"
    return create_engine(url)

{%- endif %}


##############

#### Tests

{%- if AddSQLAlchemy %}
def test_connect(testengine):
    with testengine.connect() as conn:
        result=conn.execute(text("SELECT 'engine_works';"))
        res_list = list(result)
        assert len(res_list) == 1
        assert "engine_works" == res_list[0][0]
{%- endif %}
